om-use-flow/force-app/main/default/flows/ve_sample_Use_Flow_in_OM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_AssetReferenceId_for_the_FRL</name>
        <label>Get AssetReferenceId for the FRL</label>
        <locationX>163</locationX>
        <locationY>50</locationY>
        <actionName>vJSONAttributeGetter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_OLI_by_the_AssetReferenceId</targetReference>
        </connector>
        <inputParameters>
            <name>attributeCode</name>
            <value>
                <stringValue>ATT_ASSET_REF_ID_001</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>itemId</name>
            <value>
                <elementReference>fulfilmentRequestLineId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Relies_On_Item_Attribute_of_FRL</name>
        <label>Update Relies On Item Attribute of FRL</label>
        <locationX>592</locationX>
        <locationY>47</locationY>
        <actionName>vJSONAttributeSetter</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>attribute</name>
            <value>
                <elementReference>reliesOnItemAttribute</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>itemId</name>
            <value>
                <elementReference>fulfilmentRequestLineId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Populate_reliesOnItemAttribute_variable</name>
        <label>Populate reliesOnItemAttribute</label>
        <locationX>447</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>reliesOnItemAttribute.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ATT_RELIES_ON_ITEM_001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reliesOnItemAttribute.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_OLI_by_the_AssetReferenceId.vlocity_cmt__ReliesOnItemId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relies_On_Item_Attribute_of_FRL</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ve-sample: Use Flow in OM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ve-sample: Use Flow in OM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_OLI_by_the_AssetReferenceId</name>
        <label>Find OLI by the AssetReferenceId</label>
        <locationX>303</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_reliesOnItemAttribute_variable</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__AssetReferenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssetReferenceId_for_the_FRL.attribute.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_AssetReferenceId_for_the_FRL</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>fulfilmentRequestLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>planId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reliesOnItemAttribute</name>
        <apexClass>vNameValuePair</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
